<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue example</title>
    <script src="js/vue.js"></script>

  </head>
  <body>

    <div id="app-8">
      <button v-on:click="generateTask">Generate tasks</button>
      <button>Organize scheduler</button>
      <ul>
        <todo-item
          v-for="item in tasks"
          v-bind:todo="item"
          v-bind:key="item.id">
        </todo-item>
      </ul>
    </div>

    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>

    <script src="components/app.js"></script>
    <script src="components/todo-item.js"></script>

  </body>
</html>
