<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue example</title>
    <script src="js/vue.js"></script>
    <script src="js/components/cst-task.js"></script>
  </head>
  <body>
    <div id="tasks">
      <button v-on:click="generateTask">Generate tasks</button>
      <button>Organize scheduler</button>
      <ul>
        <cts-task
          v-for="item in tasks"
          v-bind:task="item"
          v-bind:key="item.id">
        </cts-task>
      </ul>
    </div>

    <div id="tasksList">
    </div>

    <div id="tasksInput">
      <p>{{ name }} {{ duration }}</p>
      <input v-model="name">
      <input v-model="duration">
      <button v-on:click="createTask">Create</button>
    </div>

    <script src="js/ui.js"></script>

  </body>
</html>
