<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue example</title>
    <script src="js/vue.js"></script>
    <script src="js/components/cst-task.js"></script>
  </head>
  <body>
    <div id="tasks">
      <button v-on:click="generateTasks">Generate tasks</button>
      <button v-on:click="clearTasks">Clear tasks</button>
      <button>Organize scheduler</button>

    </div>

    <div id="tasksInput">
      <input v-model="name">
      <input v-model="duration">
      <button v-on:click="createTask">Create</button>
      <p>{{ name }} {{ duration }}</p>
    </div>

    <div id="tasksList">
    </div>

    <script src="js/ui.js"></script>

  </body>
</html>
