.paper {
	width: 100%;
	margin: 15px;
	padding: 10px;
}

.md-chip{
	margin: 5px;
}

.card-holder .md-card {
	width: 100%;
	max-width: 280px;
	margin: 0 4px 16px;
	display: inline-block;
	vertical-align: top;
}