<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Vue example</title>
		<link rel="manifest" href="./etc/manifest.json">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="./dist/css/vue-material.css">
		<link rel="stylesheet" href="./dist/css/style.css">
	</head>
	<body>
		<div id="app">
			<md-toolbar>
				<h1 class="md-title" style="flex: 1">Cognitive Technician Scheduler</h1>
				<md-button class="md-icon-button">
					<md-icon>more_vert</md-icon>
				</md-button>
			</md-toolbar>
			<md-bottom-bar>
				<md-bottom-bar-item md-icon="speaker_notes" v-on:click="generateTasks">Generate tasks</md-bottom-bar-item>
				<md-bottom-bar-item md-icon="speaker_notes_off" v-on:click="clearTasks">Clear tasks</md-bottom-bar-item>
				<md-bottom-bar-item md-icon="schedule">Organize scheduler</md-bottom-bar-item>
			</md-bottom-bar>
			<md-layout>
				<md-layout md-flex="50">
					<span>end</span>
				</md-layout>

				<md-layout md-flex="50">
					<span>end</span>
				</md-layout>
			</md-layout>
			<md-card class="paper">
				<div id="tasksInput">
					<md-input-container>
						<label>Name</label>
						<md-input v-model="name"></md-input>
					</md-input-container>

					<md-input-container>
						<label>Duration</label>
						<md-input v-model="duration"></md-input>
					</md-input-container>
					<md-button class="md-raised md-primary" v-on:click="createTask">Create</md-button>
				</div>
			</md-card>

			<md-card class="paper">
				<div id="tasksList">
				</div>
			</md-card>

		</div>
		<script src="./dist/js/bundle.js"></script>
	</body>
</html>